<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Camila Lanfredi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:wght@400;700;900&family=Playfair+Display:wght@400..900&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body id="index">
    <%- include('public/header.html') %>
    <main>
      <div class="main">
        <h1 class="font-1-xl-sc bege-4">
          Neuropsicóloga<br />
          e Psicopedagoga
        </h1>
        <ul class="font-2 cinza-3">
          <li>Atendimento personalizado</li>
          <li>Consultas presenciais e online</li>
          <li>Monitoria paternal</li>
          <li>Especialista no espectro autista</li>
        </ul>
        <div class="main-links">
          <button><a href="/contato">Contato</a></button>
          <div class="link-externo">
            <a
              class="font-2 cinza-3"
              href="https://www.google.com/maps/place/R.+Izidoro+Maes,+300+-+Centro,+Ilhota+-+SC,+88320-000,+Brasil/@-26.901766,-48.826063,16z/data=!4m6!3m5!1s0x94df31db90470141:0xb8152bb33bf0b1b2!8m2!3d-26.9020343!4d-48.8253548!16s%2Fg%2F11s49n4b1x?hl=pt-BR&entry=ttu"
              >Ver localização
            </a>
            <img src="icons/link_externo.svg" alt="" />
          </div>
        </div>
      </div>
    </main>
    <section class="servicos-main bege-4">
      <div>
        <h1 class="font-1-regular-sc">
          Terapia especializada para crianças e neurodivergentes
        </h1>
        <h1 class="font-1-regular-sc">Sessões de até 2 horas</h1>
        <h1 class="font-1-regular-sc">Acompanhamento familiar completo</h1>
        <h1 class="font-1-regular-sc">Aconselhamento de carreira</h1>
        <button><a href="/agendamento">agendar uma sessão</a></button>
      </div>
    </section>
    <section class="sobre container">
      <div class="sobre-img">
        <img
          src="https://imagenscamila.blob.core.windows.net/imgs/psicologa-sobre.jpg"
          alt="Psicóloga no escritório" />
      </div>
      <div class="sobre-txt">
        <h1 class="font-1-l bege-4">Olá, eu sou Camila Lanfredi</h1>
        <p class="font-2-s cinza-3">
          Psicólogo graduado na Universidade do Vale do Itajaí, pós-graduado em
          Neuropsicologia e Esp. em Inteligência Emocional, Esp. em ABA no TEA.
        </p>
        <p class="font-2 cinza-4">
          Psicólogo a mais de 10 anos, Marido a 7 e Pai a pouco mais de 3.
          Logoterapeuta, Especialista em Inteligência Emocional, Especialista em
          ABA e Desenvolvimento de Habilidades no TEA, Formações em Prevenção ao
          Suicídio e Paternidade e Cuidado pela UFSC. Escritor; Colunista;
          Palestrante.
        </p>
        <button><a href="/sobre">mais sobre mim</a></button>
      </div>
    </section>
    <section class="redes">
      <h1 class="font-1-l">redes sociais</h1>
      <nav>
        <a href="https://www.instagram.com/eduardo.religare/" target="_blank"
          ><img src="icons/instagram.svg" alt=""
        /></a>
        <a href="" target="_blank"><img src="icons/facebook.svg" alt="" /></a>
        <a href="" target="_blank"><img src="icons/linkedin.svg" alt="" /></a>
        <a href="" target="_blank"><img src="icons/x.svg" alt="" /></a>
      </nav>
    </section>
    <section class="depoimento">
      <h1 class="font-1-xl bege-4">
        Mudou completamente a minha vida. Uma busca de autoconhecimento.
      </h1>
      <p class="font-2-s cinza-3">- JULIANA DARK</p>
      <div>
        <a href="/agendamento" class="font-2 cinza-3">Agendar sessão </a>
        <img src="icons/calendario.svg" alt="" />
      </div>
    </section>
    <article class="camila-bg">
      <div class="camila container">
        <div>
          <img
            src="https://imagensedu.blob.core.windows.net/imgs/casal.jpg"
            alt="" />
        </div>
        <div class="camila-txt">
          <h1 class="font-1-l azul-4">conheça o Eduardo</h1>
          <p class="font-2" style="color: #7c7c7c">
            Esposa, <strong>psicóloga</strong> pela Universidade do Vale do
            Itajaí, há 5 anos. Pós graduada em Terapia Familiar, Pós graduanda
            em Neuropsicopedagogia, Psicóloga Clínica, e, Parental com foco na
            primeira infância e adolescência. Formação em prevenção ao suicídio
            pela UFSC, e Formação em Transtorno do Espectro Autista (TEA) em
            avaliação e intervenção. Psicóloga Educacional, e Escritora. 
          </p>
          <button><a href="/agendamento">marque uma consulta</a></button>
        </div>
      </div>
    </article>
    <article class="blog-bg">
      <div class="blog container">
        <h1 class="font-1-l bege-4">últimas postagens</h1>
        <div>
          <a href="https://gumpee.com.br/blog" class="font-2 cinza-3"
            >blog pessoal </a
          ><img
            src="icons/link_externo.svg"
            alt="" />
        </div>

        <% for( let index = 0; index < 4; index++ ) { %>
        <a href="<%= noticias[index].link %>" class="post">
          <img src="<%= noticias[index].imagem %>" alt="" />
          <h2 class="font-1-s cinza-4"><%= noticias[index].titulo %></h2>
        </a>
        <% } %>
      </div>
    </article>
    <%- include('public/footer.html'); %>
  </body>
</html>
